name: Linux CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  CI:
    runs-on: ubuntu-22.04
    steps:
    - name: Install Dependencies
      run: sudo apt update && sudo apt install -y cmake openssl
    - uses: actions/checkout@v3
    - name: Build
      run: cmake -S . -B build -DENABLE_UNIT_TESTS=TRUE && cmake --build build
    - name: Unit Test
      run: ./build/offload_unit_test
    - name: Set up Signer Proxy Binaries
      run: ./scripts/setup_signer_proxy.sh
    - name: Integration Test
      run: ./scripts/integration_test.sh
    - uses: actions/upload-artifact@v3
      with:
        name: Linux Artifacts
        path: ./build/*.so

