name: Windows CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: windows-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Choco install dependencies
        uses: crazy-max/ghaction-chocolatey@v2
        with:
          args: install openssl cmake
      - name: Build Library
        run: cmake -S . -B build && cmake --build build && openssl version
      - uses: actions/upload-artifact@v3
        with:
          name: Windows Artifacts
          path: .\build\Debug\tls_offload.dll
